body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fce9e9;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

